.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #777;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;
  position: absolute;
  left: calc(50% - 350px/2);
  top:calc(50% - 500px/2);

  &__header {
      background-color: #ddd;
      display: flex;
      flex-direction: row;
  }

  &__header-title-container {
    display: flex;
    flex-direction: column;
  }

  &__header-title {
    white-space: nowrap; 
    overflow: hidden; 
    width: 240px;
    text-overflow: ellipsis;
    
  }

  &__header-button {
    width: 150px;
    padding: 0;
  }

  &__content {
    height: 300px;
    overflow-y: scroll;
    position: relative;
  }

  &__content-block {
      &_left {
          width: 30%;
          border-right: 1px solid #ccc;
          height: 304px;
          position: absolute;
          top:112px
      }

      &_right {
          width: 70%;
          position: absolute;
          top:0
      }
  }

  &__footer {
      background-color: #ddd;
      text-align: center;
      word-break: break-all;
      padding: 0 7px;
  } 

}


.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  span:nth-child(2){
    position: absolute;
    top:200px;
    left: calc(50% - 32.60px/2);
    
  }
  span:last-child{
    position: absolute;
    left: calc(50% - 32.60px/2);
    top:395px
  }
  span:first-child{
    position: absolute;
    left: 0;
    top:0
  }
}

